.outputDark{
    margin-top: 1.2rem;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    border-radius: 0.3rem;
    width: 100%;
    flex-direction: column;
    }
    .outputLight{
        margin-top: 1.2rem;
        background-color: hsl(0, 0%, 98%);
        display: flex;
        border-radius: 0.3rem;
        width: 100%;
        flex-direction: column;
    }


